html,
body {
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: "lato", sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color: #666;
}

.pimg1 {
    background-image: url(image/image1.png);
    min-height: 100%;
}

.pimg2 {
    background-image: url(image/image2.png);
    min-height: 400px;
}

.pimg3 {
    background-image: url(image/image3.png);
    min-height: 400px;
}

.pimg1,
.pimg2,
.pimg3 {
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /*  used for poistion fixed */
}

.ptext {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    /* background-color: #666; */
    color: black;
    font-size: 30px;
    letter-spacing: 8px;
    text-transform: uppercase;
}

.textbg {
    background-color: #313534;
    color: white;
    padding: 20px;
    /* position: absolute;
    text-align: center; */
}

.section-light {
    text-align: center;
    padding: 50px;
    background-color: #313534;
    color: white;
}